/* :asset_packager_compatibility, 'config/asset_packages.yml' @ 1392849740 */
/* :files, 'public/stylesheets/shared', ... @ (none) */
/* :files, 'app/views', ... @ (none) */
/* :class_inlines, 'app/views', ... @ 1392849740 */

/* app/views/account/themes/show.css @ 1392849740 */
.autogen_class_views_account_themes_show {
  padding-top: 25px; }

.autogen_class_views_account_themes_show .leader_branding {
  height: 58px;
  margin-bottom: -38px; }

.autogen_class_views_account_themes_show .message {
  margin: 30px 50px;
  color: #666; }

.autogen_class_views_account_themes_show .form .row {
  margin: 35px 0; }

.autogen_class_views_account_themes_show .form .label, .autogen_class_views_account_themes_show .form .field {
  display: inline-block;
  zoom: 1;
  *display: inline;
  vertical-align: middle; }

.autogen_class_views_account_themes_show .form .label {
  color: #00344B;
  font-weight: bold;
  width: 155px;
  text-align: right;
  margin-right: 85px;
  padding-left: 50px; }

.autogen_class_views_account_themes_show .form .field {
  width: 656px; }

.autogen_class_views_account_themes_show .form .field p {
  margin: 0 0 4px 0;
  color: #666; }

.autogen_class_views_account_themes_show .form .field p .hint {
  color: #999; }

.autogen_class_views_account_themes_show .form {
  font-size: 13px; }

.autogen_class_views_account_themes_show .form .text_input {
  width: 200px;
  padding: 4px;
  border: 1px solid #dde2e5;
  margin: 4px 0; }

.autogen_class_views_account_themes_show .form label {
  display: block;
  font-size: 13px;
  margin-top: 10px; }

.autogen_class_views_account_themes_show .form label input[type="checkbox"] {
  vertical-align: middle; }

.autogen_class_views_account_themes_show .image_preview {
  box-shadow: 0px 0px 0 1px white, 1px 1px 10px rgba(0, 0, 0, 0.5);
  background-size: cover; }

.autogen_class_views_account_themes_show .image_preview.profile_preview {
  float: left;
  width: 150px;
  height: 80px; }

.autogen_class_views_account_themes_show .image_preview.header_preview {
  float: left;
  width: 150px;
  height: 40px; }

.autogen_class_views_account_themes_show .logo_preview {
  box-shadow: 0px 0px 0 1px white, 1px 1px 10px rgba(0, 0, 0, 0.5);
  max-width: 400px;
  max-height: 400px;
  margin-top: 5px; }

.autogen_class_views_account_themes_show .preview_container.has_preview {
  zoom: 1;
  margin: 10px 0; }

.autogen_class_views_account_themes_show .preview_container.has_preview:after {
  content: "";
  display: table;
  clear: both; }

.autogen_class_views_account_themes_show .preview_container.has_preview .inner_text {
  margin-left: 160px; }

.autogen_class_views_account_themes_show .header_picker_container {
  margin: 10px 0; }

.error_message {
    padding: 13px 48px 11px 48px;
    border: solid;
    border-width: 1px 0;
    color: #fff;
    font-size: 12px;
    line-height: 12px; }

.home_container .error_message {
    background: #fa6060;
    border: 0; }

.home_container .saved_message, .home_container .error_message {
    padding: 13px 48px 11px 48px;
    border: solid;
    border-width: 1px 0;
    color: #fff;
    font-size: 12px;
    line-height: 12px; }

.home_container .saved_message {
    background: #8dc63f;
    border-color: #7db235; }

.home_container .saved_message:before {
    display: block;
    float: left;
    width: 19px;
    margin-top: -3px;
    margin-right: 7px;
    height: 18px;
    background: url('/images/icon-sprite.png') no-repeat -102px -69px;
    content: '';
    vertical-align: middle; }