#fade { /*--Transparent background layer--*/  
    display: none; /*--hidden by default--*/
    background: #FFF;
    position: fixed; 
    left: 0; 
    top: 0;
    width: 100%; 
    height: 100%;
    opacity: .80;
    z-index: 9999;
}  

#fade1 { /*--Transparent background layer--*/  
    display: none; /*--hidden by default--*/
    background: url("../images/ajax-loader_2.gif") #FFF no-repeat center ;
    position: fixed; 
    left: 0; 
    top: 0;
    width: 100%; 
    height: 100%;
    opacity: .80;
    z-index: 9999;
}

/*--Making IE6 Understand Fixed Positioning--*/
*html #fade {
    position: absolute;
}
*html .popup_block {
    position: absolute;
}

a {
    color:#5c74c8;
    text-decoration:none !important;
    outline:none;
    transition: color 0.2s linear 0s;
    -moz-transition: color 0.2s linear 0s;
    -webkit-transition: color 0.2s linear 0s;
}

a:hover{
    color:#FF9400;
}

#storyText{
    -moz-user-select: none;
    opacity: 1;
    font-size: 16px;
    line-height: 150%;
    padding: 0px 40px 20px;
    text-align: justify;
    word-wrap: break-word;
    /*border-bottom: 1px solid #E9E9E9;*/
}

#storyText img {
    display: block;
    height: auto;
    margin: 0 auto;
    max-width: 100%;
    padding: 10px 0 0;
    text-align: center;
}

.blog-post #storyText{
    padding: 0px;
}

.footer_row {
    background-color: #F8F8F9;
    border-bottom: 1px solid #E1E1E1;
    border-top: 1px solid #E1E1E1;
    clear: both;
    height: 50px;
    width: 100%;
    text-align: center !important;
}

.footer_row .paginator {
    border: medium none;
    display: inline-block;
    float: none;
    margin: 17px auto;
}

.footer_row .paginator span {
    background-color: #9DAFB6;
    border-radius: 3px;
    color: #FFFFFF;
    font-weight: normal;
    margin-right: 15px;
    min-height: 25px;
    min-width: 25px;
    padding: 3px 9px 3px 8px;
}

.footer_row .paginator a {
    color: #146C88;
    font-weight: bold;
    margin-right: 15px;
}

ul.paging{list-style:none outside none;margin:0 auto;padding:0;}
ul.paging li{float:left;padding:0 0 0 3px;text-align:center;list-style: none !important;}
ul.paging li a{}
ul.paging li a:hover, ul.paging_186 li a.active{}
ul.paging li a{background:none repeat scroll 0 0 #F0F0F0;border:1px solid #F4F6FB;color: #146C88;margin:1px;padding:6px 8px;text-decoration:none;}
ul.paging li a:hover{border:1px solid #578CCA;color:#578CCA;}
ul.paging li a.active{border:1px solid #578CCA;color:#578CCA;font-weight:bold;padding:8px 10px;}

.paging_smartphone{
    border-bottom : none !important;
}

.paging_smartphone .paginator{
    margin: 9px auto !important;
}

.paging_smartphone .paginator ul.paging li a.active{
    padding: 6px 8px !important;
}

#box-title{
    padding-top: 20px;
}

.chap-list{
    border-bottom: 1px solid #ECECEC;
    overflow: hidden;
    padding-bottom: 7px;
    padding-top: 10px;
}

.ml0{
    margin-left: 0px !important;
}

.chap_list{
    padding-bottom: 7px !important;
    padding-top: 7px !important;
}

.br5{
    border-radius: 5px;
}

[id^=___plusone] { height:22px !important; }