/* :asset_packager_compatibility, 'config/asset_packages.yml' @ 1385158675 */
/* :files, 'public/stylesheets/shared', ... @ (none) */
/* :files, 'app/views', ... @ (none) */
/* :class_inlines, 'app/views', ... @ 1385158675 */
/* app/views/archive_flow/_doc_info.css @ 1385158675 */
.lightbox .autogen_class_views_archive_flow_doc_info .doc_info {
  background-color: transparent; }

.autogen_class_views_archive_flow_doc_info .doc_info {
  overflow: auto;
  background-color: #ecf3f5; }

.autogen_class_views_archive_flow_doc_info .doc_info .thumbnail {
  width: 183px;
  height: 250px; }

.autogen_class_views_archive_flow_doc_info .doc_info .overlay {
  width: 183px;
  height: 250px; }

.autogen_class_views_archive_flow_doc_info .doc_info .info {
  font-family: Proxima Nova, sans-serif;
  font-family: Helvetica, sans-serif;
  margin-top: 10px; }

.autogen_class_views_archive_flow_doc_info .doc_info .info h2 {
  font-family: Proxima Nova, serif;
  color: #022F40;
  font-weight: normal;
  line-height: 17px;
  word-break: break-word;
  max-width: 300px; }

.autogen_class_views_archive_flow_doc_info .doc_info .info h5 {
  color: #146c88;
  font-weight: normal; }

.autogen_class_views_archive_flow_doc_info .doc_info .info p {
  color: #666;
  line-height: 20px; }

.autogen_class_views_archive_flow_doc_info .doc_info .info .file_types {
  color: #b3b3b3; }

.autogen_class_views_archive_flow_doc_info .doc_info .info * {
  font-size: 13px;
  width: 360px;
  margin: 0;
  padding: 0 0 5px 0; }

/* app/views/shared/_contained_page.css @ 1385158675 */
.autogen_class_views_shared_contained_page .home_container {
  margin-top: 45px;
  width: 998px; }

.autogen_class_views_shared_contained_page .home_container > .header {
  padding: 37px 60px;
  border-bottom: 1px solid #ececec; }

.autogen_class_views_shared_contained_page .page_title {
  color: #022f40;
  margin: 0;
  font-weight: 300;
  font-size: 24px;
  line-height: 24px; }

.autogen_class_views_shared_contained_page .page_section {
  background: #f9f9f7;
  padding: 37px 60px;
  border-bottom: 1px solid #ececec;
  font-size: 15px; }

.autogen_class_views_shared_contained_page .page_section:last-child {
  border-bottom: 0; }

.autogen_class_views_shared_contained_page .page_section.light {
  background: #fff; }

/* app/views/shared/buttons/payments.css @ 1385158675 */
.autogen_class_views_shared_buttons_payments {
  position: relative; }

.autogen_class_views_shared_buttons_payments .continue_button.disabled .btn_inner, .autogen_class_views_shared_buttons_payments .continue_button:active .btn_inner {
  color: #fff;
  background-color: #022f40 !important; }

.autogen_class_views_shared_buttons_payments .spinner {
  float: none;
  margin-left: 15px;
  display: inline-block;
  height: 30px;
  position: absolute;
  top: -1px;
  -webkit-transition: opacity ease-in-out;
  -moz-transition: opacity ease-in-out;
  transition: opacity ease-in-out;
  -moz-transition-duration: 0.15s;
  -webkit-transition-duration: 0.15s;
  -o-transition-duration: 0.15s;
  transition-duration: 0.15s;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=0)";
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  visibility: hidden; }

.autogen_class_views_shared_buttons_payments .spinner img {
  vertical-align: middle; }

.autogen_class_views_shared_buttons_payments .spinner.active {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=100)";
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
  visibility: visible; }

/* app/views/login/checkout_flow_login.css @ 1385158675 */
.autogen_class_views_login_checkout_flow_login h1 {
  margin-left: 0; }

.autogen_class_views_login_checkout_flow_login div.home_container {
  width: 1000px;
  min-height: 0; }

.autogen_class_views_login_checkout_flow_login .container.page_section {
  margin: 0 auto;
  font-size: 12px;
  min-height: 500px;
  padding: 0; }

.autogen_class_views_login_checkout_flow_login #login_info {
  font-family: Proxima Nova, serif;
  font-size: 13px;
  line-height: 17px;
  color: #666; }

.autogen_class_views_login_checkout_flow_login #account_form {
  position: relative; }

.autogen_class_views_login_checkout_flow_login .login_top {
  text-align: left;
  margin-left: 65px;
  margin-right: 65px;
  border-bottom: 1px solid #e9e9e9;
  height: 160px; }

.autogen_class_views_login_checkout_flow_login .login_top .login_title {
  font-size: 13px;
  color: #666666;
  padding-top: 40px;
  padding-bottom: 30px; }

.autogen_class_views_login_checkout_flow_login .scribd_login {
  float: left;
  width: 434px;
  margin-left: 65px;
  /* Modifying child widget */ }

.autogen_class_views_login_checkout_flow_login .scribd_login .home_btn {
  margin-top: 5px; }

.autogen_class_views_login_checkout_flow_login .scribd_login .btn_inner {
  font-weight: normal; }

.autogen_class_views_login_checkout_flow_login .scribd_login .forgot_password {
  position: absolute;
  bottom: -5px;
  left: 80px;
  font-size: 13px;
  color: #146c88;
  text-decoration: none; }

.autogen_class_views_login_checkout_flow_login .scribd_login .forgot_password:hover {
  text-decoration: none; }

.autogen_class_views_login_checkout_flow_login .scribd_login input.default_input {
  color: #999999;
  font-size: 13px; }

.autogen_class_views_login_checkout_flow_login .email_login {
  width: 499px;
  float: right;
  border-left: 1px solid #e9e9e9;
  /* Modifying child widget */ }

.autogen_class_views_login_checkout_flow_login .email_login .inner {
  margin: auto 65px; }

.autogen_class_views_login_checkout_flow_login .email_login .inner h2 {
  margin-top: 0; }

.autogen_class_views_login_checkout_flow_login .email_login .inner .home_btn {
  margin-top: 5px; }

.autogen_class_views_login_checkout_flow_login .email_login input {
  color: #999999;
  font-size: 13px; }

.autogen_class_views_login_checkout_flow_login .email_login .home_btn .btn_inner {
  font-weight: normal; }

.autogen_class_views_login_checkout_flow_login .login_section {
  margin-top: 40px; }

.autogen_class_views_login_checkout_flow_login .login_section h2 {
  margin-top: 0;
  font-size: 24px;
  color: #022f40;
  font-weight: normal; }

.autogen_class_views_login_checkout_flow_login .login_section a {
  color: #106a8c;
  float: left;
  line-height: 40px; }

.autogen_class_views_login_checkout_flow_login .login_section p {
  margin-bottom: 20px;
  color: #6c6c6c; }

.autogen_class_views_login_checkout_flow_login .login_section input[type="text"], .autogen_class_views_login_checkout_flow_login .login_section input[type="password"] {
  padding-left: 4px;
  border: 1px solid #e9e9e7;
  width: 100%;
  margin-bottom: 10px; }

.autogen_class_views_login_checkout_flow_login .login_section div.inner {
  width: 270px; }

.autogen_class_views_login_checkout_flow_login .login_section input, .autogen_class_views_login_checkout_flow_login .login_section select {
  font-size: 1.2em;
  float: left;
  clear: left; }

.autogen_class_views_login_checkout_flow_login .error {
  color: red;
  float: left;
  clear: left;
  width: 100%;
  margin-bottom: 10px; }

/* app/views/login/login.css @ 1385158675 */
.autogen_class_views_login_login .backstretch:before {
  content: "";
  width: 100%;
  height: 100%;
  background-color: black;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.3; }

.autogen_class_views_login_login .login_wrapper {
  width: 996px;
  margin: 0px auto -40px auto;
  text-align: left;
  padding: 50px 0; }

.autogen_class_views_login_login h1 {
  color: white;
  font-weight: 100;
  font-size: 42px;
  margin: 10px 0 35px 0;
  letter-spacing: 1px; }

.autogen_class_views_login_login h2 {
  font-size: 24px; }

.autogen_class_views_login_login .home_container {
  background-color: #F8F8F8;
  padding: 20px;
  margin: 0;
  margin-top: 20px;
  opacity: 0.95; }

.autogen_class_views_login_login .home_container btn-inner {
  min-width: 100px; }

.autogen_class_views_login_login .facebook_container {
  padding-bottom: 20px; }

.global_wrapper {
    padding-bottom: 0px;
}