/* :asset_packager_compatibility, 'config/asset_packages.yml' @ 1385158675 */
/* :files, 'public/stylesheets/shared', ... @ (none) */
/* :files, 'app/views', ... @ (none) */
/* :class_inlines, 'app/views', ... @ 1385158675 */
/* app/views/recently_read/index.css @ 1385158675 */
.autogen_class_views_recently_read_index .recently_read_header {
  height: 48px;
  padding-top: 40px; }
