/* Reset ================================================================================= */
* { margin:0; padding:0;/*box-sizing: inherit;-webkit-box-sizing: inherit;-moz-box-sizing: inherit;*/ }

body          { background-color:#ffffff; font: 18px Verdana, Arial, sans-serif;line-height: 1.5; color:#333333; text-align:left;text-size-adjust:100%;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;overflow-x: hidden; }

img           { border:0; vertical-align:top;max-width: 100%;height: auto; }

a             { color:#001EFF; text-decoration: none; }
a:hover       { text-decoration:underline; }
:focus        { outline:0; }

/* Headings */
h1            { font-size:1.125em; font-weight:normal; }
h2            { font-size:1.000em; font-weight:normal; color:#000; }
h3            { font-size:0.875em; font-weight:bold; }
h4            { font-size:0.813em; font-weight:bold; }
h5            { font-size:0.750em; font-weight:bold; }
h6            { font-size:0.688em; font-weight:bold; }

/* Forms */
form          { display:inline; }
fieldset      { border:0; }
legend        { display:none; }
input.input-text{border: 1px solid #ccc;}

/* Table */
table         { border:0; border-collapse:collapse; border-spacing:0; empty-cells:show; font-size:100%; }
caption,th,td { vertical-align:top; text-align:left; font-weight:normal; }
table img     {max-width: none;}

/* Content */
address       { font-style:normal; }
cite          { font-style:normal; }
q,
blockquote    { quotes:none; }
q:before,
q:after       { content:''; }
small         { font-size:10px; }
big           { font-size:1.2em; }
/*sup           { font-size:1em; vertical-align:top; }/*/

/* Lists */
ul,ol         { list-style:none; }

/* Class: std - styles for admin-controlled content */
.std ul,
.std ol,
.std dl,
.std p,
.std address,
.std blockquote,
.std table { margin-bottom:1em; }
.std ul { list-style:disc outside; padding-left:1.5em; }
.std ol { list-style:decimal outside; padding-left:1.5em; }
.std ul ul { list-style-type:circle; }
.std ul ul,
.std ol ol,
.std ul ol,
.std ol ul { margin:.5em 0; }
.std dt { font-weight:bold; }
.std dd { padding:0 0 0 1.5em; }
.std blockquote { font-style:italic; padding:0 0 0 1.5em; }
.std address { font-style:normal; }
.std b,
.std strong { font-weight:bold; }
.std i,
.std em { font-style:italic; }
.std hr { margin:1.5em 0; color:#d9d9d9; }
.std table { width:100%; }
.std table thead { background:#e8e8e8; }
.std table th { background:#f7f7f7; font-weight:bold; }
.std table thead th { background:#e8e8e8; font-weight:bold; }
.std table th,
.std table td { padding:5px 10px; border:1px solid #d9d9d9; }
.std table[border="0"] { border-width:0; }
.std table[border="0"] th,
.std table[border="0"] td { border-width:0; }

ul.disc li { padding-left:10px;}
.std ul.disc li { padding-left:0; background:none; }
.clearfix{clear: both;}
/*======================================================================================*/

body{
    background-repeat: repeat;
    background-position: left top;
    background-image: url("../../images/stupidphone/bg.png");
}
select,textarea{box-sizing: inherit;-moz-box-sizing: inherit;-webkit-box-sizing: inherit;border: 1px solid #ccc;background: none;}

/*===== HEADER AND FOOTER =====*/
.header{}
.top-header{
    float: left;width: 94%;padding: 0 3%;
    background-color: #444;
    -webkit-box-shadow: 0 4px 4px rgba(0,0,0,.25);
    -moz-box-shadow: 0 4px 4px rgba(0,0,0,.25);
    box-shadow: 0 4px 4px rgba(0,0,0,.25);
    background-image: -webkit-linear-gradient(bottom, #333333, #666666);
    background-image: -moz-linear-gradient(bottom, #333333, #666666);
    background-image: -o-linear-gradient(bottom, #333333, #666666);
    background-image: linear-gradient(to top, #333333, #666666);
}
/*.form-search{
    margin: 10px auto;
    height: 24px;width: 90%;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    background-color: #f1f1f1;
    -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,.3);
    -moz-box-shadow: inset 0 0 5px rgba(0,0,0,.3);
    box-shadow: inset 0 0 5px rgba(0,0,0,.3);
    text-align: center;font-size: 14px;color: #2B55AD;
}*/
.search:hover{text-decoration: none}
/*.form-search:hover{background: #ddd;}*/
/*.form-search .search{float: left;width: 75%;background: none;border: none;*//*appearance: none;-webkit-appearance: none;-moz-appearance: none;*//*height: 14px;line-height: 14px;padding: 5px 0;text-align: center;color: #2B55AD;text-align: center;}*/
/*.form-search .button{padding: 5px 0;float: right;height: 12px;*/
    /*background-repeat: no-repeat;*/
    /*background-position: 70% center;*/
    /*background-image: url("../../images/stupidphone/search-ic.png");*/
    /*background-color: transparent;*/
    /*border: none;*//*appearance: none;-webkit-appearance: none;-moz-appearance: none;*//*width: 18%;height: 22px;font-size: 0;line-height: 0;text-indent: -9999px;}*/
.quick-access{clear: both;width: 100%;margin-bottom: 10px;float: left;}
.quick-access > a{display: block;color: #f1f1f1;line-height: 24px;font-size: 16px;text-align: center;}
.quick-access a:hover{color: #ccc;text-decoration: none;}
.quick-access a span{display: inline-block;padding-left: 20px;}
.quick-access .login{float: left;width: 40%;}
.quick-access .login span{background: url("../../images/stupidphone/login.png") no-repeat left 6px;}
.quick-access .post-require{float: right;width: 56%;text-align: center;}
.quick-access .post-require a{color: #fff;font-size: 16px;line-height: 24px;display: block;}
.quick-access .post-require a:hover{color: #ccc;}
.quick-access .post-require span{background: url("../../images/stupidphone/post-require.png") no-repeat left 4px;}
.validate{font-size: 14px;color: #FF813D;}

.bottom-header{clear: both;margin: 0 2%;background: #ffffff;border: 1px solid #cccccc;}
.bottom-header .logo{display: block;text-align: center;margin: 3px auto 2px;}
.bottom-header .logo img{width: 30%;max-width: 150px;min-width: 70px;}

.footer{padding: 10px;margin: 0 2%;background: #daffdb;border: 1px solid #cccccc;}
.footer h2{font-size: 22px;line-height: 26px;font-weight: bold;text-transform: uppercase;}
.footer .menu{padding: 5px 0 10px;}
.footer .menu a{font-size: 16px;line-height: 22px;padding: 5px 0 5px 5%;display: block;border-bottom: 1px dashed #cccccc;color: #333;}
/*.footer .form-search{margin: 0 auto 0;border: 1px solid #cccccc;float: none;}*/ 

.contact{clear: both;padding: 10px 0 0;text-align: center;}
.contact h4{line-height: 28px;font-size: 22px;}
.contact p span{font-weight: bold;}
.contact h4{padding: 3px 0;}
.contact h4 a{font-weight: bold;color: #000e79;padding-right:12px;
    background-repeat: no-repeat;
    background-position: right 6px;
    /*background-image: url("../../images/stupidphone/liststyle.png");*/
}

.copyright{clear: both;padding: 10px 0;text-align: center;}
.copyright a{color: #333;}

/*===== HOME PAGE =====*/
.page{clear: both;padding: 5px 2%;}
.block{background: #fdfdfd;box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);-webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);-moz-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);border: 1px solid #cccccc;margin: 0 0 5px;}
.block .title{padding: 15px 5px 5px 30px;}
.block .title a{font-size: 18px;line-height: 24px;font-weight: bold;color: #333;}
.block.truyen-moi .title{
    background-repeat: no-repeat;
    background-position: 4px 20px;
    background-image: url("../../images/stupidphone/new-ic.gif");}
.block.truyen-hot .title{
    background-repeat: no-repeat;
    background-position: 4px 25px;
    background-image: url("../../images/stupidphone/hot-ic.gif");}
.block.truyen-binhchon .title{
    background-repeat: no-repeat;
    background-position: 4px 16px;
    background-image: url("../../images/stupidphone/vote-ic.png");}
.block .list{padding: 5px 5px 10px 5%;}
.block .list li{padding: 1px 0;}
.block .list img{vertical-align: middle;}
.block .list a{font-size: 16px;line-height: 24px;padding: 2px 0 2px 12px;color: #333;
    background-repeat: no-repeat;
    background-position: left 12px;
    background-image: url("../../images/stupidphone/liststyle.png");
}
.block .learn-more{text-align: right;padding: 0 5% 10px 0;}
.block .learn-more a{font-size: 16px;line-height: 22px;text-transform: uppercase;color: #2f00b4;font-weight: bold;}

/*===== LISTING PAGE =====*/
.listing-page .block{padding: 40px 5px 10px;
    background-repeat: no-repeat;
    background-position: center top;
    background-image: url("../../images/stupidphone/hpny.gif");
    background-color: #fdfdfd;}
.page-title{
    background-repeat: repeat-x;
    background-position: left center;
    background-image: url("../../images/stupidphone/bg-title.png");
    text-align: center;
    margin: 0 0 15px;}
.page-title h1,.page-title h2{font-weight: bold;font-size: 22px;text-transform: uppercase;display: inline-block;padding: 0 5px;background: #fdfdfd;line-height: 28px;max-width: 90%;*display: inline;zoom: 1;}
.filter{text-align: center;padding: 2px 0;background: #eee;margin: 0 0 10px;}
.filter li{display: inline-block;margin: 5px;}
.filter li a{display: block;font-weight: bold;color: #2F00B4;text-transform: uppercase;font-size: 10px;}
.page-content{padding: 5px 0 0;text-align: justify;}
.page-content .item{padding: 5px 0 5px 25px;
    background-repeat: no-repeat;
    background-position: 3px 8px;
    background-image: url("../../images/stupidphone/book-ic.png");}
.page-content .item a{line-height: 24px;color: #001eff;}
.page-content .item p{font-size: 14px;padding: 0;margin: 0;}
.pager{margin: 10px 0;text-align: center;background: #eee;padding: 0 5px;clear: both;}
.pager li{padding: 5px 1px;position: relative;vertical-align: top;display: inline-block;}
.pager li a{line-height: 14px;padding: 3px 5px;border: 1px solid #cccccc;background: #eee;display: block;color: #333;}
.pager li a:hover{color: #001EFF;text-decoration: none;}
.pager li.current a{font-weight: bold;}
.pager li.prev a,.pager li.next a{width: 13px;height: 14px;font-size: 0;text-indent: -9999px;}
.pager li.prev:before,.pager li.next:before{width: 0;height: 0;border-style: solid;border-width: 5px 7px;border-color: transparent;content: "";position: absolute;top: 10px;left: 10px;}
.pager li.prev:before{border-right-color: #333333;border-left-width: 0;}
.pager li.next:before{border-left-color: #333333;border-right-width: 0;}
.pager li a.active { font-weight: bold;}

/*===== DETAIL PAGE =====*/
.info{padding: 10px 0;margin: 0 2%;border-bottom: 1px solid #cccccc;}
.info h1{font-size: 20px;line-height: 26px;font-weight: bold;}
.info ul{text-align: right;}
.info ul li{display: inline-block;margin: 0 10px 0 0;font-size: 11px;}
.author{font-size: 16px;padding: 10px 0 5px;}
.author span{font-size: 16px;font-weight: bold;}

.std{padding: 0 3% 10px;font-size: 19px;line-height: 26px;font-family: "Times New Roman";}
.std img{display: block;max-width: 100%;margin: 10px auto;min-width: 100px;}
.chap-area{padding: 10px 0;margin: 0 2%;border-top: 1px solid #cccccc;}
.chap-control{text-align: right;}
.chap-control.top{padding: 10px 0;margin: 0 2%;border-bottom: 1px solid #ccc;}
.chap-control a{display: inline-block;padding: 0 7px;font-weight: bold;font-size: 16px;color: #2f00b4;}
.chap-list{padding: 10px 0;}
.chap-list p{font-size: 16px;font-weight: bold;padding: 5px 0;}
.chap-list li{font-size: 14px;padding: 7px 0 0;}
.chap-list li a{color: #001EFF;line-height: 14px;padding: 4px 0 4px 10px;font-size: 14px;display: inline-block;vertical-align: middle;}

h2.tag{font-size: 11px;font-weight: bold;line-height: 18px;padding-top: 10px;border-top: 1px solid #ddd;margin: 10px 0 0;}

a.save-post{background-image:-ms-linear-gradient(top,#FFFFFF 0%,#E3E3E3 100%);background-image:-moz-linear-gradient(top,#FFFFFF 0%,#E3E3E3 100%);background-image:-o-linear-gradient(top,#FFFFFF 0%,#E3E3E3 100%);background-image:-webkit-gradient(linear,left top,left bottom,color-stop(0,#FFFFFF),color-stop(1,#E3E3E3));background-image:-webkit-linear-gradient(top,#FFFFFF 0%,#E3E3E3 100%);background-image:linear-gradient(top,#FFFFFF 0%,#E3E3E3 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF',endColorstr='#E3E3E3');border:1px solid #dbdbdb;-moz-border-radius:6px;-webkit-border-radius:6px;-o-border-radius:6px;-ms-border-radius:6px;-khtml-border-radius:6px;border-radius:6px;-moz-box-shadow:inset 0 1px 0 0 white;-webkit-box-shadow:inset 0 1px 0 0 white;-o-box-shadow:inset 0 1px 0 0 white;box-shadow:inset 0 1px 0 0 white;color:#333333;text-shadow:0 1px 0 white;position:relative;padding: 0 10px 0 5px;font-size:12px;display: inline-block;margin: 15px 0 0;}
a.save-post span{display: block;text-align: center;background: url("../../images/stupidphone/vote-ic-blank.png") no-repeat left center;line-height: 15px;padding: 5px 0 5px 25px;}
a.save-post.active{background-image:-ms-linear-gradient(top,#e3e3e3 0%,#fff 100%);background-image:-moz-linear-gradient(top,#e3e3e3 0%,#fff 100%);background-image:-o-linear-gradient(top,#e3e3e3 0%,#fff 100%);background-image:-webkit-gradient(linear,left top,left bottom,color-stop(0,#e3e3e3),color-stop(1,#fff));background-image:-webkit-linear-gradient(top,#e3e3e3 0%,#fff 100%);background-image:linear-gradient(top,#e3e3e3 0%,#fff 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#e3e3e3',endColorstr='#fff');}
a.save-post.active span{background-image: url("../../images/stupidphone/vote-ic.png");}
/*===== LOGIN =====*/
.login-page .block{padding: 10px 7px;}
.login-page label{display: block;padding: 8px 0 2px;}
.login-page .input-text{width: 94%;padding: 3px 3%;font-size: 16px;line-height: 20px;}
.login-page .form-actions{margin: 10px 0 0;}
.login-page .form-submit{background-image:-ms-linear-gradient(top,#FFFFFF 0%,#E3E3E3 100%);background-image:-moz-linear-gradient(top,#FFFFFF 0%,#E3E3E3 100%);background-image:-o-linear-gradient(top,#FFFFFF 0%,#E3E3E3 100%);background-image:-webkit-gradient(linear,left top,left bottom,color-stop(0,#FFFFFF),color-stop(1,#E3E3E3));background-image:-webkit-linear-gradient(top,#FFFFFF 0%,#E3E3E3 100%);background-image:linear-gradient(top,#FFFFFF 0%,#E3E3E3 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF',endColorstr='#E3E3E3');border:1px solid #dbdbdb;-moz-border-radius:6px;-webkit-border-radius:6px;-o-border-radius:6px;-ms-border-radius:6px;-khtml-border-radius:6px;border-radius:6px;-moz-box-shadow:inset 0 1px 0 0 white;-webkit-box-shadow:inset 0 1px 0 0 white;-o-box-shadow:inset 0 1px 0 0 white;box-shadow:inset 0 1px 0 0 white;color:#333333;text-shadow:0 1px 0 white;position:relative;font-weight:bold;padding:4px .8em 5px .8em;font-size:16px;}
.login-page .register{font-size: 16px;color: #2f00b4;margin: 20px 0 0;}

/*===== SEARCH PAGE =====*/
.search-page .block,.search-result .block{padding: 10px 5px;}
.search-page .block .title{padding: 0;}
.search-result h3{text-align: center;}
.search-result .item a span{font-weight: bold;}
.search-page{}
.search-page h3{padding: 10px 5px;}
.search-page h3 span{color: #001EFF;}
.search-page table{width: 100%;}
.search-page table td{padding: 0 5px;vertical-align: bottom;}
.search-page input.p-search{padding: 6px;height: 13px;min-width: 100px;width: 90%;}
.search-page .button-search span,.form-search .button-search span{display: block;background: url("http://www.google.com/uds/css/v2/search_box_icon.png") no-repeat center center;margin: 0 auto;font-size: 0;width: 55px;height: 26px;}
.search-page .button-search,.form-search .button-search{
    vertical-align: bottom;
    border: 1px solid #3079ed;
    background-color: #2c2ffe;
    background-image: -webkit-gradient(linear,left top,left bottom,from(#4d90fe),to(#4787ed));
    background-image: -webkit-linear-gradient(top,#4d90fe,#4787ed);
    background-image: -moz-linear-gradient(top,#4d90fe,#4787ed);
    background-image: -ms-linear-gradient(top,#4d90fe,#4787ed);
    background-image: -o-linear-gradient(top,#4d90fe,#4787ed);
    background-image: linear-gradient(top,#4d90fe,#4787ed);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#4d90fe',EndColorStr='#4787ed');
    width: 60px;
    height: 28px;
    font-size: 0;
    padding: 0;
}


.form-search{
    float: left;margin: 6px 0 10px;
    height: 28px;width: 100%;
    /*-webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    background-color: #f1f1f1;
    -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,.3);
    -moz-box-shadow: inset 0 0 5px rgba(0,0,0,.3);
    box-shadow: inset 0 0 5px rgba(0,0,0,.3);*/
}
.form-search table{width: 100%;}
.form-search table td{padding: 0 5px;vertical-align: bottom;text-align: center;}
.form-search .p-search{padding: 6px;height: 13px;min-width: 100px;width: 90%;
    -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,.3);
    -moz-box-shadow: inset 0 0 5px rgba(0,0,0,.3);
    box-shadow: inset 0 0 5px rgba(0,0,0,.3);
    background: #f1f1f1;
    border: 1px solid #ccc;
}
/*.form-search .button-search{
    border-color: #3079ed;
    background-color: #2c2ffe;
    background-image: -webkit-gradient(linear,left top,left bottom,from(#4d90fe),to(#4787ed));
    background-image: -webkit-linear-gradient(top,#4d90fe,#4787ed);
    background-image: -moz-linear-gradient(top,#4d90fe,#4787ed);
    background-image: -ms-linear-gradient(top,#4d90fe,#4787ed);
    background-image: -o-linear-gradient(top,#4d90fe,#4787ed);
    background-image: linear-gradient(top,#4d90fe,#4787ed);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#4d90fe',EndColorStr='#4787ed');
    width: 13px;
    height: 13px;
    padding: 7px 20px;
    min-width: 13px;
    display: block;
    font-size: 0;
}*/


.search-page .author{padding: 2px 0 10px;font-size: 14px;}
.search-page .page-content li a{color: #001EFF;}

/*===== ACC PAGES =====*/
.last-reading{padding: 20px 0 0;}
.last-reading p{font-weight: bold;}
.block.acc-menu{background: none;padding: 0;border-radius: 7px;-moz-border-radius: 7px;-webkit-border-radius: 7px;}
.block.acc-menu h4{font-size: 16px;padding: 8px 2%;border-radius: 7px 7px 0 0;-moz-border-radius: 7px 7px 0 0;-webkit-border-radius: 7px 7px 0 0;
    background: #a1dbff; /* Old browsers */
    background: -moz-linear-gradient(top,  #DDF2FF 0%, #ffffff 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#DDF2FF), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #DDF2FF 0%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #DDF2FF 0%,#ffffff 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #DDF2FF 0%,#ffffff 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #DDF2FF 0%,#ffffff 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#DDF2FF', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
}
.block.acc-menu a{padding: 8px 2%;display: block;border-top: 1px solid #ccc;
    background: #FBFFEB; /* Old browsers */
    background: -moz-linear-gradient(top,  #ffffff 0%, #FBFFEB 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#FBFFEB)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #ffffff 0%,#FBFFEB 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #ffffff 0%,#FBFFEB 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #ffffff 0%,#FBFFEB 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #ffffff 0%,#FBFFEB 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#FBFFEB',GradientType=0 ); /* IE6-9 */
}
/*.block.acc-menu li:first-child a{border: none;border-radius: 7px 7px 0 0;-moz-border-radius: 7px 7px 0 0;-webkit-border-radius: 7px 7px 0 0;}*/
.block.acc-menu li:last-child a{border-radius: 0 0 7px 7px;-moz-border-radius: 0 0 7px 7px;-webkit-border-radius: 0 0 7px 7px;}
.block.acc-menu span{display: block;background: url("../../images/stupidphone/arrow.png") no-repeat right center;display: block;}