/* Elastislide Style */
.es-carousel-wrapper{
	background: #fff;
	padding:10px 31px;
	position:relative;
	border-top: 1px dotted #aeaeae;
	border-bottom: 1px dotted #aeaeae;
}
.es-carousel{
	overflow:hidden;
	background:#FFFFFF;
}
.es-carousel ul{
	display:none;
}
.es-carousel ul li{
	height:100%;
	float:left;
	display:block;
	margin: 0;
}
.es-carousel ul li a{
	display:block;
	border: none;
}
.es-carousel ul li a img{
	display:block;
	border:none;
	max-height:100%;
	max-width:100%;
}
.es-carousel ul li a img:hover {
	opacity: 0.8;
}

.es-nav span{
	position:absolute;
	top:50%;
	left:8px;
	background:transparent url(../images/elastislide-carousel/nav.png) no-repeat top left;
	width:14px;
	height:26px;
	margin-top:-13px;
	text-indent:-9000px;
	cursor:pointer;
	opacity:0.8;
}
.es-nav span.es-nav-next{
	right:8px;
	left:auto;
	background-position:top right;
}
.es-nav span:hover{
	opacity:1.0;
}